.search-box {
  width: 100%;
}

.search-box-input {
  box-shadow: none !important;
  outline: none !important;
}
.search-box-input:focus {
  box-shadow: 0 !important;
  outline: none !important;
}
.close-icon {
  color: #9aa0a6;
}
.formDiv {
  border: 1px solid #9aa0a6;
  border-radius: 32px;
}
.formDiv:hover {
  -webkit-box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.66);
  box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.66);
  border: none !important;
}

.search-button {
  box-shadow: none !important;
  background: #f8f9fa;
  padding: 5px 10px;
}

.google-language {
  font-size: 13px;
}

.search-button {
  font-size: 13px;
}
