* {
  margin: 0;
  padding: 0;
}
.avatar {
  height: 25px !important;
  width: 25px !important;
}
.apps-icon {
  height: 25px !important;
  width: 25px !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 0.5rem !important;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}
.nav-link:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}
