.footer{
  background:#F2F2F2;
  bottom:0;
  margin-top:182px;
  height:140px;
}
.footer p{
  font-size: 30px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 50px 0px !important;
}

.active{
  height:40px;
  width:40px;
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    color: #008000;
  }
  10% {
    color: #008000;
  }
  50% {
    color: #ffffff;
  }
  
  100% {
    color: #FF4136;
  }
}